
<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/grupo" style="color: #4B610B; text-decoration: none">&gt;ID del Grupo</a></b></font></ul>
<ul>Entrega JSON con ID del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/banco" style="color: #4B610B; text-decoration: none">&gt;ID cuenta Banco</a></b></font></ul>
<ul>Entrega JSON con ID de la cuenta banco del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/almacenId" style="color: #4B610B; text-decoration: none">&gt;ID del almacén</a></b></font></ul>
<ul>Entrega JSON con ID del almacén de recepción del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/consultar/.:sku" style="color: #4B610B; text-decoration: none">&gt;Stock SKU</a></b></font></ul>
<ul>Entrega JSON con stock total (en todos los almacenes) dado el SKU </ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/oc/recibir/.:idoc" style="color: #4B610B; text-decoration: none">&gt;Estado de Orden de Compra</a></b></font></ul>

<ul>Entrega JSON informando si se aceptó o se rechazó la orden de compra </ul>

<ul><font size="5"><b><a href="http://integra9.ing.puc.cl/api/facturas/recibir/.:idfactura" style="color: #4B610B; text-decoration: none">&gt;Estado Validación Factura</a></b></font></ul>
<ul>Entrega JSON informando si dado el id de una factura, esta fue validada o no </ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/oc/recibir/.:idoc" style="color: #4B610B; text-decoration: none">&gt;Estado Aceptación Orden de Compra</a></b></font></ul>
<ul>Entrega JSON informando si dado el id de una factura, esta fue validada o no </ul>


