<html>
<head>
	<title> Integra 9 </title>

</head>
<body>
	<h1>Documentación API- Grupo 9 </h1>
	<h2>Funcionalidades Implementadas:</h2>

	<ul>
	<li>
	<a href="documentacion">integra9.ing.puc.cl/api/documentacion (GET)</a>
	</li>
	<p>Muestra esta página con la documentación de la aplicación</p>
	<p>Parámetros: Ninguno</p>
	</ul>
</body>
</html>
