<!DOCTYPE html>

<html>

<head>
<title> Documentación API Grupo 9 </title>
</head>

<body bgcolor="#ECF6CE">
<style type="text/css">
	
	a{
		color: black;
		text-decoration: none;
	}
</style>

<h1>Documentación API Grupo 9 </h1>
<h2>Funcionalidades Implementadas </h2>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/grupo" style="color: #4B610B; text-decoration: none"  >>ID del Grupo</a></b></font></ul>
<ul>Entrega JSON con ID del grupo</ul>

<ul> <font size="5"><b><a  href="http://integra9.ing.puc.cl/api/ids/banco" style="color: #4B610B; text-decoration: none" >>ID cuenta Banco</a></b></font></ul>
<ul>Entrega JSON con ID de la cuenta banco del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/ids/almacenId" style="color: #4B610B; text-decoration: none" >>ID del almacén</a></b></font></ul>
<ul>Entrega JSON con ID del almacén de recepción del grupo</ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/consultar/.:sku" style="color: #4B610B; text-decoration: none" >>Stock SKU</a></b></font></ul>
<ul>Entrega JSON con stock total (en todos los almacenes) dado el SKU </ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/oc/recibir/.:idoc" style="color: #4B610B; text-decoration: none" >>Estado de Orden de Compra</a></b></font></ul>

<ul>Entrega JSON informando si se aceptó o se rechazó la orden de compra </ul>

<ul><font size="5"><b><a href="http://integra9.ing.puc.cl/api/facturas/recibir/.:idfactura" style="color: #4B610B; text-decoration: none" >>Estado Validación Factura</a></b></font></ul>
<ul>Entrega JSON informando si dado el id de una factura, esta fue validada o no </ul>

<ul> <font size="5"><b><a href="http://integra9.ing.puc.cl/api/oc/recibir/.:idoc" style="color: #4B610B; text-decoration: none" >>Estado Aceptación Orden de Compra</a></b></font></ul>
<ul>Entrega JSON informando si dado el id de una factura, esta fue validada o no </ul>

</body>
</html>

