<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
=======

>>>>>>> 5db880490935a7efc4200939dbb9d8cd8df25e50
</head>
<body>

<%= yield %>

</body>
</html>
